body {
    width: 100vw;
}
header {
    background-color: #2d303a;
}

.hat {
    width: 1200px;
    margin: 0 auto;
    height: 89px;
}

.header-name {
    font-size: 26px;
    letter-spacing: -1px;
    line-height: 6px;
    color: #ffffff;
    font-family: "Lato", sans-serif;
    font-weight: 700;
    padding-top: 42px;
    padding-left: 120px;
}

.header-star {
    color:#e26861;
}

nav {
    display: flex;
    justify-content: space-around;
    position: absolute;
    left: 842px;
    top: 46px;
    width: 404px;
}

nav a {
    font-size: 13px;
    letter-spacing: -1px;
    line-height: 6px;
    color: #ffffff;
    font-family: "Lato";
    font-weight: 700;
    cursor: pointer;
    text-decoration: none;
}

nav a:hover {
    color: #f06c64; 
}

.dot1, .dot2, .dot3, .dot4 {
    position: absolute;
    color: #696f8a;
    font-size: 27px;
    top: -17px;
}

.dot1 {
    left: 63px;
}

.dot2 {
    left: 146px;
}

.dot3 {
    left: 243px;
}

.dot4 {
    left: 313px;
}


.header-line {
    height: 6px;
    background-color: #323746;
}

/*SLIDER*/

.slider {
    height: 594px;
    background-color: #f06c64;
}
.slider-container {
    width: 1200px;
    margin: 0 auto;
}

.left-swiper {
    position: absolute;
    top: 376px;
    left: 291px;
}

.left-swiper:hover {
    opacity: 0.5;
    left: 287px;
}

.right-swiper {
    position: absolute;
    top: 376px;
    left: 1214px;
}

.right-swiper:hover {
    left: 1218px;
    opacity: 0.5;
}

/*VERTICAL IPHONE*/

.vertical-shadow {
    position: absolute;
    left: 361px;
    top: 147px;
}

.vertical-base {
    position: absolute;
    left: 359px;
    top: 147px;
}

.vertical-cam {
    position: absolute;
    left: 462px;
    top: 163px;
}

.vertical-red {
    position: absolute;
    left: 465px;
    top: 165px;
}

.vertical-circle {
    position: absolute;
    left: 446px;
    top: 553px;
}

.vertical-square {
    position: absolute;
    left: 460px;
    top: 567px;
}

.vertical-speaker {
    position: absolute;
    left: 450px;
    top: 182px;
}

.vertical-screen-wrap {
    position: absolute;
    left: 372px;
    top: 210px;
    width: 188px;
    height: 333px;
    overflow: hidden;
    border: 3px solid #c6c6c6;
    border-radius: 3px;
}

.vertical-screen {
    position: absolute;
	top: -135px;
	left: -14px;
}


/*HORIZONTAL IPHONE*/


.horizontal-shadow {
    position: absolute;
    left: 675px;
    top: 269px;

}

.horizontal-base {
    position: absolute;
    left: 794px;
    top: 145px;
    -webkit-transform: rotate(90deg);
}

.horizontal-cam {
    position: absolute;
    left: 1105px;
    top: 371px;
}

.horizontal-red {
    position: absolute;
    left: 1107px;
    top: 373px;
}

.horizontal-circle {
    position: absolute;
    left: 682px;
    top: 353px;
}

.horizontal-square {
    position: absolute;
    left: 695px;
    top: 367px;
}

.horizontal-speaker {
    position: absolute;
    left: 1074px;
    top: 373px;
    -webkit-transform: rotate(90deg);
}

.horizontal-screen-wrap {
    position: absolute;
    left: 730px;
    top: 280px;
    width: 333px;
    height: 188px;
    overflow: hidden;
    border: 3px solid #c6c6c6;
    border-radius: 3px;
}

.horizontal-screen {
    position: absolute;
	top: -119px;
    left: -124px;
}

.slider-line {
    height: 6px;
    background-color: #ea676b;
}

/*SERVICES*/


.services {
    height: 494px;
    background-color: #f2f2f2;
   
}

.services-container {
    width: 958px;
    margin: 0 auto;
}

/*TEXT*/

.services-header {
    font-size: 30px;
    line-height: 18px;
    color: #666d89;
    font-family: "Lato";
    font-weight: 900;
    padding-top: 70px;
}

.services-text {
    text-align: justify;
    padding-top: 25px;
    font-size: 18px;
    line-height: 30px;
    color: #767e9e;
    font-family: "Lato";
    font-weight: 300;
}

/*GRID*/

.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 100px;
}

.block img {
    padding: 10px;
    border-radius: 29px;
    border: 2px solid #666d89;
    float: left;
}

.services-line {
    height: 6px;
    background-color: #ffffff;
}