body {
    width: 1020px;
    margin: 0 auto;
}

.hat {
    height: 89px;
    background-color: #2d303a;
    position: relative;
}

.header-name {
    font-size: 26px;
    letter-spacing: -1px;
    line-height: 6px;
    color: #ffffff;
    font-family: "Lato", sans-serif;
    font-weight: 700;
    padding-top: 42px;
    padding-left: 38px;
}

.header-star {
    color:#e26861;
}

nav {
    display: flex;
    justify-content: space-around;
    position: absolute;
    left: 594px;
    bottom: 37px;
    width: 400px;
}

nav a {
    font-size: 13px;
    letter-spacing: -1px;
    line-height: 6px;
    color: #ffffff;
    font-family: "Lato";
    font-weight: 700;
    cursor: pointer;
    text-decoration: none;
}

nav a:hover {
    color: #f06c64; 
}

.dot1, .dot2, .dot3, .dot4 {
    position: absolute;
    color: #696f8a;
    font-size: 27px;
    top: -17px;
}

.dot1 {
    left: 63px;
}

.dot2 {
    left: 146px;
}

.dot3 {
    left: 241px;
}

.dot4 {
    left: 313px;
}


.header-line {
    height: 6px;
    background-color: #323746;
}

/*SLIDER*/

.slider {
    height: 595px;
    background-color: #f06c64;
}


/*VERTICAL IPHONE*/

.vertical-shadow {
    position: relative;
    left: 112px;
    top: 53px;
}

.vertical-base {
    position: relative;
    right: 133px;
    top: 30px;
}

.vertical-cam {
    position: relative;
    bottom: 403px;
    right: 253px;
}

.vertical-red {
    position: relative;
    bottom: 406px;
    right: 266px;
}

.vertical-circle {
    position: relative;
    top: 21px;
    right: 296px;
}

.vertical-square {
    position: relative;
    top: 8px;
    right: 332px;
}

.vertical-speaker {
    position: relative;
    bottom: 388px;
    right: 364px;
}

.vertical-screen-wrap {
    position: relative;
    left: 123px;
    bottom: 371px;
    width: 188px;
    height: 333px;
    z-index: 2;
    overflow: hidden;
    border: 3px solid #c6c6c6;
    border-radius: 3px;
}

.vertical-screen {
    position: relative;
	top: -135px;
	left: -14px;
}

.left-swiper {
    position: absolute;
    top: 376px;
    left: 291px;
}

.left-swiper:hover {
    opacity: 0.5;
    left: 287px;
}

.right-swiper {
    position: absolute;
    top: 376px;
    left: 1214px;
}

.right-swiper:hover {
    left: 1218px;
    opacity: 0.5;
}

/*HORIZONTAL IPHONE*/


.horizontal-shadow {
    position: relative;
    left: 113px;
    top: 28px;
    -webkit-transform: scale(-1, 1);
}

.horizontal-base {
    position: relative;
    right: 133px;
    top: 30px;
}

.horizontal-cam {
    position: relative;
    bottom: 403px;
    right: 253px;
}

.horizontal-red {
    position: relative;
    bottom: 406px;
    right: 266px;
}

.horizontal-circle {
    position: relative;
    top: 21px;
    right: 296px;
}

.horizontal-square {
    position: relative;
    top: 8px;
    right: 332px;
}

.horizontal-speaker {
    position: relative;
    bottom: 388px;
    right: 364px;
}

.horizontal-screen-wrap {
    position: relative;
    left: 123px;
    bottom: 371px;
    width: 188px;
    height: 333px;
    z-index: 2;
    overflow: hidden;
    border: 3px solid #c6c6c6;
    border-radius: 3px;
}

.horizontal-screen {
    position: relative;
	top: -122px;
    left: -118px;
    -webkit-transform: rotate(270deg);
}

.horizontal {
    margin-top: -680px;
    margin-left: 29px;
    -webkit-transform: rotate(90deg);
}
.slider-line {
    height: 6px;
    background-color: #ea676b;
}

.services {
    height: 400px;
   
}